<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit your Listing </h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" required value="<%= listing.title %>">
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required name="listing[description]"
                        class="form-control"><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    Original Listing Image <br>
                    <img class="edit-preview-img" src="<%= originalImageUrl %>" alt="list_image">
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Upload new Image</label>
                    <input type="file" class="form-control" name="listing[image]">
                    <div class="invalid-feedback">Please enter a valid link</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input required type="number" name="listing[price]" class="form-control"
                            value="<%= listing.price %>">
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="category" class="form-label">Category</label>
                        <input required type="text" class="form-control" name="listing[category]"
                            value="<%= listing.category %>">
                        <div class="invalid-feedback">Category should be valid</div>

                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input required type="text" class="form-control" name="listing[country]"
                            value="<%= listing.country %>">
                        <div class="invalid-feedback">Country name should be valid</div>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input required type="text" class="form-control" name="listing[location]"
                        value="<%= listing.location %>">
                    <div class="invalid-feedback">Location should be valid</div>
                </div>


                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </div>
    </div>